<link rel="import" href="import/header.html">

<div>
  <h1>
		<div>
      <span>Bible <br><p id='published_date'></p></span>
  	</div>
		<div style="position: absolute;right: 0px;">
    	<a ng-click="retrieve()" title="next list" style="cursor: pointer;">
        <img src="/images/next.png" style="margin-right:0px;">
      </a>
  	</div>
  </h1>
  <div>
    <ul id="myList"></ul>
  </div>
</div>

<link rel="import" href="import/footer.html">

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="/scripts/controllers/list.js"></script>
<!-- endbuild -->
              
