<link rel="import" href="import/header.html">

<div style="padding-bottom: 15px;">
  <div>
	  <h1>
	    <div ng-click="goBack()" style="background-color: #f2f2f2;">
	      <span id='title_dt'></span>
	      <p id='published_date'></p>
	    </div>
    </h1>
		<div style="position: absolute;top: 0px;right: 0px;">
    	<a ng-click="goBack()" title="next list" style="cursor: pointer;">
        <img src="/images/prev.png" style="margin-right:0px;">
      </a>
  	</div>
  </div>
  <div>
		<div>
			<ul id="myItem"></ul>
		</div>
  </div>
</div>

<script src="/scripts/controllers/story.js"></script>
              
<link rel="import" href="import/footer.html">




